.nav-container {
  background-color: black;
  padding: 12px 16px;
  display: flex;
  gap: 16px;
}

.nav-container a {
  color: grey;
  text-decoration: none;
  font-weight: 500;
}

.nav-container a.active {
  color: deepskyblue;
  font-weight: bold;
}

.nav-container a:hover {
  color: lightskyblue;
}